/* Empty. Add your own CSS if you like */
.content {
  background-color: #fbfbfb;
  color: #CC5D41;
}
.display {
  height: 60px;
  width: 100%;
  text-align: center;
  color: #CC5D41;
}
.footer {
  color: #fbfbfb;
  text-align: center;
}
